<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "Добавить поставщика", new_my_file_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Имя</th>
         <th>Cсылка</th>
         <th>Ид поставщика</th>
         <th>Действия </th>
      </tr>
   </thead>
   
   <tbody>
      <% @myfiles.each do |myfile| %>
         
         <tr>
            <td><%= myfile.name %></td>
            <td><%= link_to "Скачать...", myfile.attachment_url %></td>
            <td><%= myfile.vendor_id %></td>
            <td><%= button_to "Удалить",  myfile,id: "inline-this", method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{myfile.name}?" %>
            <%= link_to "Редактировать", edit_my_file_path(myfile), class: "btn btn-warning" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>
