<h1>Updater#index</h1>
<p>Find me in app/views/updater/index.html.erb</p>
<hr>
<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Actions</th>
         <th>Status</th>
         <th>Time</th>
      </tr>
   </thead>
   
   <tbody>
      <% @myfiles.each do |myfile| %>
         
         <tr>
            <td><%= myfile.name %></td>
	    <td>
			<% switch = myfile.main %>
			<% if switch == "f" %>
			<%= link_to "Update", updater_sequence_path(updater_id:myfile, format: "js" ), remote: true, class: "btn btn-success" %> 
			<% end %>    
			<%= link_to (switch == 'f')?'Set Main':'Main', (switch == 'f')? "#{updater_main_path( updater_id: myfile )}" : "#{updater_path(myfile)}", class: "btn btn-#{(switch == 'f')?'warning':'danger'}" %>
	    
			<% if switch == "f" %>
			<%= link_to "Set cols", updater_set_cols_path( updater_id: myfile ), class: "btn btn-primary" %> 
			<% end %> 

			<% if switch == "f" %>
			<%= link_to "Set rows", updater_set_rows_path( updater_id: myfile ), class: "btn btn-info" %> 
			<% end %> 

	    
	    </td>
	    <td class="countdown">
    	    </td>
	    <td class="countdown"></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<script>
$('.active').removeClass("active");
$('#updater').addClass("active");
</script>
