<h1>Updater#set_rows</h1>


<%= link_to 'Back', updater_index_path, class: "btn btn-primary" %>
<button id="but">rows</button>
<hr>

<%= @file.skip_cols.inspect  %>

<hr>
<table id="table" class="display" cellspacing="0" width="100%"  >

  <thead>
    <tr>
      <% @cols.each do |r| %>
      <th><%= r %></th>
      <% end %>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <% @cols.each do |r| %>
      <th><%= r %></th>
      <% end %>
    </tr>
  </tfoot>
<% @data.each do |e| %>
			<% if e.visible == "t" %>
				<tr><% @cols.each do |r| %><td><%= e.send(r).to_s[0..25] %></td><% end %></tr>
			<% else %>
				<tr class="skip_row"><% @cols.each do |r| %><td><%= e.send(r).to_s[0..25] %></td><%end%></tr>
			<% end %>
<% end %>

</table>
<script>
$(document).ready(function() {
    var table = $('#table').DataTable();
 
    $('#table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
 
    $('#but').click( function () {
        alert( table.rows('.selected').data().length +' row(s) selected' );
    } );
} );
</script>
