<%= link_to 'Back', updater_index_path, class: "btn btn-primary" %>
<hr>
<%= render 'flash'  %>

<%  if @file.main_template != nil %>
	<% template = JSON.parse(@file.main_template) %>
<% else %>
	<% template = Hash["item_code"=>"col_0","price"=>"col_5","currency"=>"col_6","available"=>"col_12","params_start"=>"col_29","params_end"=>"col_115", "category_id" => "col_21","item_id" => "col_22","item_name" => "col_14", "group_name"=>"col_0","group_id"=>"col_1","group_uuid"=>"col_2","parent_id"=>"col_3","parent_uuid"=>"col_4"]%>
<% end %>

<%= bootstrap_form_tag url: updater_path, method: 'put', layout: :inline do |f| %>
<%= f.text_field :item_code,label: "Артикул", value: template["item_code"], class: template["item_code"] %>
<%= f.text_field :item_name,label: "Название позиции", value: template["item_name"], class: template["item_name"] %>
	<%= f.text_field :price,label: "Цена", value: template["price"], class: template["price"] %>
	<%= f.text_field :currency,label: "Валюта", value: template["currency"], class: template["currency"] %>
	<%= f.text_field :available,label: "Наличие", value: template["available"], class: template["available"] %>
	<%= f.text_field :category_id,label: "Идентификатор подраздела", value: template["category_id"], class: template["category_id"] %>
		<%= f.text_field :item_id,label: "Идентификатор товара", value: template["item_id"], class: template["item_id"] %>
	<%= f.text_field :params_start,label: "Начало характеристик", value: template["params_start"], class: template["params_start"] %>
	<%= f.text_field :params_end,label: "Конец характеристик", value: template["params_end"], class: template["params_end"] %>
	<%= f.submit "Apply",layout: :horizontal %>
<% end %>
<hr>
<table  style=" border: 1px solid #ddd; position: absolute; left: 1px;">
	<tr>
	<% @cols.each do |r| %>
		<th><%= r %></th>
        <% end %>
	</tr>
<% @data.each do |e| %>
			<% if e.visible == true %>
				<tr><% @cols.each do |r| %><td class="<%=r%>"><%= e.send(r).to_s[0..25] %></td><% end %></tr>
			<% else %>
				<tr class="skip_row"><% @cols.each do |r| %><td class="<%=r%>"><%= e.send(r).to_s[0..25] %></td><%end%></tr>
			<% end %>
<% end %>

</table>
<script>
$('.active').removeClass("active");
$('#updater').addClass("active");
  
$(function() {
       if ("<%= template["item_code"] %>".indexOf("col_") != -1 ) {
       	   $(".<%= template["item_code"] %>").css("background-color","darkkhaki");
	}
	if ("<%= template["price"] %>".indexOf("col_") != -1 ) {
 	  $(".<%= template["price"] %>").css("background-color","antiquewhite");
	}
	if ("<%= template["currency"] %>".indexOf("col_") != -1 ) {
	         $(".<%= template["currency"] %>").css("background-color","khaki");
	}
	if ("<%= template["available"] %>".indexOf("col_") != -1 ) {
		$(".<%= template["available"] %>").css("background-color","lightgreen");
	}

	if ("<%= template["item_name"] %>".indexOf("col_") != -1 ) {
		$(".<%= template["item_name"] %>").css("background-color","darkorange");
	}
	if ("<%= template["item_id"] %>".indexOf("col_") != -1 ) {
		$(".<%= template["item_id"] %>").css("background-color","lightsalmon");
	}
	if ("<%= template["category_id"] %>".indexOf("col_") != -1 ) {
		$(".<%= template["category_id"] %>").css("background-color","lawngreen");
	}



	if ("<%= template["available"] %>".indexOf("col_") != -1 ) {

	for (var i = <%= template["params_start"].split('_').last.to_i %>; i <= <%= template["params_end"].split('_').last.to_i %>; i++ ){
	$(".col_" + i).css("background-color","silver");
	}
	}
});
</script>




