<h1>Reader#index</h1>
<%= link_to "test", reader_my_path,remote: true, class: "btn btn-primary" %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
<hr>
<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Actions</th>
         <th>Status</th>
         <th>Time</th>
      </tr>
   </thead>
   
   <tbody>
      <% @myfiles.each do |myfile| %>
         
         <tr>
            <td><%= myfile.name %></td>
	    <td>
		<%= link_to "Read", reader_req_path(reader_id:myfile, format: "js" ), remote: true, class: "btn btn-success" %>
		<%= link_to "Show", reader_path(myfile), class: "btn btn-warning" %>
	    </td>
	    <% status = @statuses.find_by(model_id: myfile.vendor_id) %>
	    <td class="countdown"><%= status.status %>
	    <% if status.status != "finish" %>
		    <script>var time_<%=myfile.name%> = countdown(<%= status.time_start.strftime('%s%3N') if status.time_start != nil %>,function(ts){$('#<%=myfile.name%>_time').html(ts.toHTML());},countdown.HOURS|countdown.MINUTES|countdown.SECONDS|countdown.MILLISECONDS,2,1);</script>
	    <% end %>
	<% if status.status.to_s == "finish" %>
		<script>  $(function(){ $('#<%=myfile.name%>_time').html(countdown(<%= status.time_start.strftime('%s%3N') %>,<%= status.time_end.strftime('%s%3N')%>,countdown.HOURS|countdown.MINUTES|countdown.SECONDS|countdown.MILLISECONDS,2,1).toString());});</script>
  <% else %>
	  <script></script>
	<% end %>
    	    </td>
	    <td class="countdown" id="<%= myfile.name%>_time"></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>

<div class="modal fade bs-example-modal-sm" id="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      modal content
    </div>
  </div>
</div>

<script>
$('.active').removeClass("active");
$('#reader').addClass("active");
</script>
