var time_<%=@name.name%>;
var jqxhr = $.ajax( {url: "<%= url_for(controller: "reader", action:"read",reader_id: @id,format: "json", only_path: false ) %>",
	dataType: "json",
	beforeSend: function(){
			 time_<%=@name.name%> = countdown(new Date(),function(ts){$('#<%=@name.name%>_time').html(ts.toHTML());},countdown.HOURS|countdown.MINUTES|countdown.SECONDS|countdown.MILLISECONDS,2,1);
	
    }
})
  .done(function() {	  
	 /** var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" ); **/
	  
//$('#modal').modal('show'); 
	  //alert("Done \"<%= @name.name%>\" file");
	  window.clearInterval(time_<%=@name.name%>);
  })
  .fail(function() {
    alert( "error" );
	  window.clearInterval(time_<%=@name.name%>);
  })
.always(function() {

	/*$('#status').show();*/	
    /*alert( "complete" );*/
}); 
/*$.getJSON( "<%= url_for(controller: "reader", action:"read",reader_id: @id,format: "json", only_path: false ) %>", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
});*/ 
