var time_<%=@name.name%>;
var jqxhr = $.ajax( {url: "<%= url_for(controller: "reader", action: 'read',reader_id: @id,format: "json", only_path: false ) %>",
	dataType: "json",
		     beforeSend: function(){
			 $('#<%= @name.name%>_time_name').html("loading...");
			 time_<%=@name.name%> = countdown(new Date(),function(ts){$('#<%=@name.name%>_time').html(ts.toHTML());},countdown.HOURS|countdown.MINUTES|countdown.SECONDS|countdown.MILLISECONDS,3,2);
	
    }
})
  .done(function() {	  
      console.log("done")
      /** var items = [];
  $.each( data, function( key, val ) {z
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" ); **/
	  
//$('#modal').modal('show'); 
	  //alert("Done \"<%= @name.name%>\" file");
      window.clearInterval(time_<%=@name.name%>);
      $('#<%= @name.name%>_time_name').html("done");
  })
  .fail(function() {
      console.log( "error" );
      $('#<%= @name.name%>_time_name').html("error");
	  window.clearInterval(time_<%=@name.name%>);
  })
.always(function() {

	/*$('#status').show();*/	
    /*alert( "complete" );*/
}); 
/*$.getJSON( "<%= url_for(controller: "reader", action:"read",reader_id: @id,format: "json", only_path: false ) %>", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });
 
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
});*/ 
